/* = = = = = = = = = = = =  map = = = = = = = = = = = = */
/* CAS ORANGE: #F26722 */
/* CAS BLUE  : #42C8F4  */

.svg-background { fill: #363638; }
.country        { fill: #d8d8da; }
.country_hover  { fill: #ed7d31; }
.country_active { fill: #39a0ea; }

.country-boundary {
  fill: none;
  stroke: gray;
  stroke-dasharray: 3,4;
  stroke-linejoin: round;
  stroke-width: 1.5px;
}

.country-coastline {
  fill: none;
  stroke: #aaa;
  stroke-linejoin: round;
  stroke-width: 1.5px;
}

#country_tooltip_text {
    fill: black;    
}
#country_tooltip_rect {
    fill: white;
    stroke: gray;
}


#svg-div {
    position: relative;
    background-color: #363640;
}

.zoom_buttons {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 0;
}

/* ****************************************************************************
* PAGE
**************************************************************************** */
.page-content-map {
    background: #363638;
    color: #363637;
    
    padding: 0px;
    border: 0px;
    border-top: 5px solid #363640;
    margin: 0px;
}

#map-column {
    padding: 0px;
    border: 0px;
    /*border-bottom: 15px solid #363640;*/
    margin: 0px;
}

#svg-root {

}

#map-navbar {
  padding: 5px 0px;
  background-color: #fff;
  /*background-color: gray;*/
  height: 110px;
  /*display: none;*/
  position: relative;
  z-index: 1;
}

#map-left-controls {
  /*background-color: blue;*/
  height: 100%;
  padding: 0px;
}
#map-left-controls ul {
  margin: 0px;
  padding: 0px 0px 0px 0px;
}
#map-left-controls .button {
  display: block;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  background-color: #fff;
  border: 2px solid #39a0ea;
  color: #39a0ea;
  line-height: 34px;
  padding: 0;
  margin: 4px auto;
}
#map-navbar i {
  font-size: 28px;
}
#map-left-controls .button:hover {
  border: 4px solid #ed7d31;
  color: #ed7d31;
  line-height: 30px;
}



/* - black: #808080
 - white: #fff;
 - Futura Bold (#46C7F4)   -  darker version : #39a0ea
 - Futura Light (#F26621)  -  lighter version: #ed7d31
*/

#map-right-controls {
  /*background-color: orange;*/
  height: 100%;
  padding: 0px;
}
#map-right-controls .button {
  color: #39a0ea;
  background-color: #fff;
  height: 50px;
  width: 50px;
  padding: 0;
  border: 2px solid #39a0ea;
  border-radius: 25px;
  
  display: block;
  margin: 2px auto;
  position: relative;
  line-height: 0px;
  top: -42px;
}
#map-right-controls .button:hover {
  border: 4px solid #ed7d31;
  color: #ed7d31;
}
#info-nprojects-txt {
  font-size: 14px;
  font-family: Futura;
  text-align: center;
  
  display: block;
  position: relative;
  line-height: 0;
  top: -25px;
}

#info-nprojects {
  color: #39a0ea;
  font-family: Futura;
  font-weight: bold;
  text-align: center;
  font-size: 32px;
  
  display: block;
  position: relative;
  line-height: 0;
  top: 0px;
}
#map_project_list_button {
  font-size: 14px;
  text-align: center;
  display: block;
  position: relative;
  line-height: 0;
  top: 25px;
}


#map-middle-controls {
  /*background-color: orange;*/
  height: 100%;
  border-right: 1px solid #808080;
  border-left: 1px solid #808080;
}

#info-country-label {
  font-family: Futura;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;     /* IE 6+, FF 7+, Op 11+, Saf 1.3+, Chr 1+ */
  -o-text-overflow: ellipsis;  /* for Opera 9 & 10 */
  padding: 0;
  margin: 0;
}
#info-country-select {
  font-family: Futura;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

#info-country-ul {
  list-style-type: circle;
  font-family: Futura;  
}
#info-country-ul li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;     /* IE 6+, FF 7+, Op 11+, Saf 1.3+, Chr 1+ */
  -o-text-overflow: ellipsis;  /* for Opera 9 & 10 */
  color: #808080;
  font-size: 16px;
  font-style: italic;
  line-height: 20px;
}
#info-country-ul li:first-child {
  color: black;
  font-style: normal;
  text-transform: uppercase;
}

#filters-div {
  background-color: #fff;
  display: none;
  /*height: 500px;*/
  border-top: 1px solid #808080;
  padding: 10px;
  /*font-family: Futura;*/
}

#filters-title {
  font-weight: bold; 
}

.filter-input {

}

#filters-div .button {
  font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-weight: bold;
}

/*
.off-canvas {

    background: #f2f2f2;
    border-right: 1px solid #363638;
    border-bottom: 1px solid #363638;

    position: fixed;
    min-height: 100%;
    transition: all 3s ease-in-out;
    z-index: 25;
}

.off-canvas-content {
  margin-right: 0;
  transition: all 3s ease-in-out;
}

#filter-clear {
  float: right;
  font-size: 15px;
}

#filter-submit {
  font-size: 15px;
  text-transform: none;
}
*/
#content {
    /* bottom padding for footer: prevents overlaping; */
    padding-bottom: 0px;
}
#outer-container {
  /*background-color: blue;*/
  padding-bottom: 0px;
}

footer {
  display: none;
}
