/* ****************************************************************************
* DEFS
**************************************************************************** */
/*
 Colors considered:
 - black: #808080
 - white: #fff;
 - Futura Bold (#46C7F4)   -  darker version : #39a0ea
 - Futura Light (#F26621)  -  lighter version: #ed7d31
 */

@font-face {
    font-family: Futura;
    src: url(fonts/Futura-Light.ttf);
    
}
@font-face {
    font-family: Futura;
    src: url(fonts/Futura-Bold.otf);
    font-weight: bold;
}

.size-12 { font-size: 12px; }

.size-14 { font-size: 14px; }

.size-16 { font-size: 16px; }

.size-18 { font-size: 18px; }

.size-21 { font-size: 21px; }

.size-24 { font-size: 24px; }

.size-36 { font-size: 36px; }

.size-48 { font-size: 48px; }

.size-60 { font-size: 60px; }

.size-72 { font-size: 72px; }


/* ****************************************************************************
* GENERAL
**************************************************************************** */

html,
body {
    background: #fff;
    height: 100%;
}

div#outer-container {
    position: relative;
    
    height:auto !important; /* real browsers */
    height:100%;      /* IE6: treaded as min-height*/
    min-height:100%;  /* real browsers */
}

div#content {
    /* bottom padding for footer: prevents overlaping; */
    padding-bottom: 260px;
}

footer {
    width:100%;
    position:absolute;

    padding: 0px 0px 0px 0px;
    border-top: 1px solid #808080;
    bottom:0; /* stick to bottom */
}

a {
    color: #ed7d31;
}
a:hover {
    color: #39a0ea;
}

/* ****************************************************************************
* NAVIGATION BAR
**************************************************************************** */
.top-bar {
    background: #ed7d31;
    color: #fff;
    
    font-family: Arial, sans-serif;
    font-size: 14px;
    
    height: 40px;
    line-height: 40px;
    padding: 0px 10px;
    border: 0px;    
    margin: 0px;

}

.top-bar-title {
    font-family: Futura;
    font-weight: bold;
    font-size: 16px;
}
.top-bar-right {
    background-color: transparent;
}
.top-bar-right .dropdown {
    background-color: transparent;
}
.top-bar-right a {
    background: #ed7d31;
    color: #fff;
}
.top-bar-right a:hover {
    background: #c56828;
}
/* menu arrow */
.top-bar-right .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    border-color: #fff transparent;
}


/* ****************************************************************************
* FOOTER
**************************************************************************** */

.footer-imgdiv, .footer-imgdiv-optional {
    padding: 20px 0px;
}

.footer-imgdiv-optional {
    border-bottom: 1px dashed #808080;
}
.footer-imgdiv-optional img {
    max-height: 100px;
}

.footer-image {
    display: block;
    margin: 0px auto;
    width: 300px;
}

.footer-infodiv {
    background: #363638;
    min-height: 0px;
    padding: 0px;
}

.footer-infodiv, .footer-infodiv a {
    color: #fff;
    font-size: 12px;
    font-family: Futura;
}

.footer-infoitem .button {
    background: transparent;
    margin: 0px auto;
}




/* ****************************************************************************
* PAGE
**************************************************************************** */

.page-content {
    background: #fff;
    color: #363637;
    
    /*min-height: 300px;*/
    padding: 20px 20px 20px 20px;

    border: 0px;
    margin: 0px;
    margin-bottom: 0px;
}

.view-title {
    margin-top: 30px;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.view-title h3 {
    font-family: Futura;
    font-size: 30px;
}

.view-subtitle {
    font-family: Futura;
    border-bottom: 1px solid #ed7d31;
    margin-top: 0px;
    margin-bottom: 10px;
}

.view-subsubtitle {
    font-family: Futura;
    border-bottom: 1px dashed #ed7d31;
    margin-top: 10px;
}

.view-subtitle-related {
    font-family: Futura;
    font-weight: bold;
    font-size: 20px;
    margin-top: 0px;
    border-bottom: 1px solid #39a0ea;
}

.logo-display p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    color: red;
}

.logo-display img {
    border: 1px dashed #808080;
    max-height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ****************************************************************************
* PREVIEW
**************************************************************************** */

.preview-title {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}
.preview-title h3 {
    font-family: Futura;
    font-size: 30px;
}

.preview-desc {
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    padding: 0px 0px;
    margin-bottom: 0px;
}
.preview-desc-esp p {
    color: #ed7d31;
}
.preview-desc-eng p {
    color: #39a0ea;
}

.preview-imgs {
    margin-top: 50px;
}

/* dont show link outside images on larger screens */
@media only screen 
and (min-width : 700px) {
    .preview-imgs a { display: block; }
}
.preview-imgs a {
    margin-left: auto;
    margin-right: auto;
    height: 0;
}

.preview-imgs img {
    margin-top: 10px;
    border-radius: 100px;
    border: 0px;
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    transition-property: box-shadow;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.preview-imgs img:hover, .preview-imgs img:focus {
    box-shadow: 0 0 6px 1px rgba(237,125,49,0.5);
}





/* ****************************************************************************
* TABLES
**************************************************************************** */
table {
    background: #fff;
    margin-bottom: 40px;
    border: none;
    table-layout: fixed;
    width: 100%;
    margin-top: 0rem;
    border: 0;
}
table thead {
    background: #363638;
}
table tr {
    border-bottom: 1px solid #ebebec;
}
table tr th {
    padding: 0.5625rem 0.625rem;
    font-size: 0.875rem;
    color: #fff;
    border-bottom: 2px solid #808080;
}

/* head colors */
table.hover > thead:hover > tr { background-color: #363638; }
table thead a       { color: #fff;    }
table thead a:hover { color: #ed7d31; }

/* display headers on stack */
table.stack thead { display: table-header-group; }

/* row hover */
table.hover > tbody > tr:hover               { background-color: #ccf5ff; }
table.hover tbody tr:nth-of-type(even):hover { background-color: #ccf5ff; }

/* data alignment on large screens */
@media only screen 
and (max-width : 1200px) {
    table thead th, table td {
        text-align: center;
    }
}
table th.actions, table td.actions {
    text-align: center;
}

.vertical-table {
    vertical-align: middle;
}

.vertical-table th {
    color: #808080;
    border: none;
    font-family: Futura;
    font-weight: bold;
    text-align: left;
    padding: 0.5625rem 0.625rem;
    font-size: 0.875rem;
}

.vertical-table td {
    text-align: right;   
}


/* ****************************************************************************
* PAGINATION
**************************************************************************** */

ul.pagination li a {
    color: rgba(0, 0 ,0 , 0.54);
}

ul.pagination li.active a {
    background-color: #DCE47E;
    color: #FFF;
    font-weight: bold;
    cursor: default;
}
ul.pagination .disabled:hover a {
    background: none;
}

.paginator {
    text-align: center;
    margin-top: -20px;
}

.paginator ul.pagination li {
    float: none;
    display: inline-block;
}

.paginator p {
    text-align: right;
    color: rgba(0, 0 ,0 , 0.54);
}

.asc:after {
    content: " \2193";
}
.desc:after {
    content: " \2191";
}

/* ****************************************************************************
* TABS
**************************************************************************** */

.tabs-title > a {
    font-size: 15px;
}


/* ****************************************************************************
* FORMS
**************************************************************************** */

.form button:hover, .form button:focus {
    background: #7A6058;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.26) !important;
}


.form button[type="submit"] {
    float: right;
    text-transform: uppercase;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
    font-size: 20px;
}

fieldset {
    border: none;
    padding: 1.25rem;
    margin: 1.125rem 0;
}

fieldset legend {
}


/* ****************************************************************************
* FLASH MESSAGES
**************************************************************************** */

div.message {
    text-align: center;
    cursor: pointer;
    display: block;
    font-weight: normal;
    padding: 0 1.5rem 0 1.5rem;
    transition: height 300ms ease-out 0s;
    background-color: rgb(255, 174, 0);
    color: #626262;
    top: 15px;
    right: 15px;
    z-index: 999;
    overflow: hidden;
    height: 50px;
    line-height: 2.5em;
}

div.message:before {
    line-height: 0px;
    font-size: 20px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
    background-color: #FFF;
    padding: 12px 14px 12px 10px;
    content: "i";
    color: rgb(255, 174, 0);
}

div.message.error {
    background-color: #C3232D;
    color: #FFF;
}

div.message.error:before {
    padding: 11px 16px 14px 7px;
    color: #C3232D;
    content: "x";
}
div.message.hidden {
    height: 0;
}



/* ****************************************************************************
* Instances: index
**************************************************************************** */

.instances-logo {
    max-width: 200px;
}