/* ****************************************************************************
* DEFS
**************************************************************************** */
/*
 Colors considered:
 - black: #808080
 - white: #fff;
 - Futura Bold (#46C7F4)   -  darker version : #39a0ea
 - Futura Light (#F26621)  -  lighter version: #ed7d31
 */

@font-face {
    font-family: Futura;
    src: url(fonts/Futura-Light.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Futura;
    src: url(fonts/Futura-Bold.otf);
    font-weight: bold;
}

.size-12 { font-size: 12px; }

.size-14 { font-size: 14px; }

.size-16 { font-size: 16px; }

.size-18 { font-size: 18px; }

.size-21 { font-size: 21px; }

.size-24 { font-size: 24px; }

.size-36 { font-size: 36px; }

.size-48 { font-size: 48px; }

.size-60 { font-size: 60px; }

.size-72 { font-size: 72px; }


/* ****************************************************************************
* GENERAL
**************************************************************************** */

html,
body {
    height: 100%;
    background-color: #fff;
}

div#outer-container {
    position: relative;
    
    height:auto !important; /* real browsers */
    height:100%;      /* IE6: treaded as min-height*/
    min-height:100%;  /* real browsers */
}

div #content {
    padding-bottom: 320px;        /* padding for footer: prevents overlaping */
    background: transparent;
}

footer {
    width:100%;
    position:absolute;

    padding: 0px 0px 0px 0px;
    border-top: 1px solid #808080;
    bottom:0; /* stick to bottom */
}

a {
    color: #ed7d31;
}
a:hover {
    color: #39a0ea;
}

/* ****************************************************************************
* NAVIGATION BAR
**************************************************************************** */
.top-bar {
    background: #ed7d31;
    color: #fff;
    
    font-family: Arial, sans-serif;
    font-size: 14px;
    
    height: 40px;
    line-height: 40px;
    padding: 0px 10px;
    border: 0px;    
    margin: 0px;

}

.top-bar-title, .top-bar-title a {
    color: #fff;
    font-family: Futura;
    font-weight: bold;
    font-size: 14px;
}

.top-bar-left a {
    color: #fff;
    font-family: Futura;
    font-size: 15px;
    font-weight: normal;
}

.top-bar-right {
    background-color: transparent;
}
.top-bar-right .dropdown {
    background-color: transparent;
}
.top-bar-right a {
    background: #ed7d31;
    color: #fff;
}
.top-bar-right a:hover {
    background: #c56828;
}
/* menu arrow */
.top-bar-right .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    border-color: #fff transparent;
}

#top-bar-username-li {
    background-color: #ed7d31;
    font-weight: normal;
}

#top-bar-username-li span {
    font-weight: bold;
    /*font-size: 40px;*/
}

#top-bar-logout-li {
    border-top: 1px solid #fff;
}


/* ****************************************************************************
* FOOTER
**************************************************************************** */

/* ------------------- footer logo ------------------- */
/* ensure:
- white background
- centered logos 
- height 80px
*/
.footer-imgdiv {
    background-color: #ffffff;
    padding: 10px 0px;
    height: 80px;
    text-align: center;
}

/* used to center the real logo */
.footer-logo-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/* 
logo assumptions:
- alpha channel or #ffffff background
- max dimensions: (width. height) (250x60) px;
*/
.footer-logo {
    vertical-align: middle; /* relative to .footer-logo-helper */
    max-height: 60px;
    max-width: 250px;    
}


/* ------------------- footer bar ------------------- */
/* ensures:
- background-color: #363638,
- height: 37px
*/
.footer-infodiv {
    background: #363638;

    padding: 0px;
    border: 0px;
    margin: 0px;
}

.footer-infodiv, .footer-infodiv a {
    color: #fff;
    font-size: 12px;
    font-family: Futura;
}

.footer-infoitem {
    height: 37px;
    padding: 0;
}

.footer-infoitem .button       {     background-color: transparent; }
.footer-infoitem .button:hover {     background-color: #3e3e41;     }



/* ****************************************************************************
* PAGE
**************************************************************************** */

.page-content {
    /*background: #fff;*/
    color: #363637;
    
    /*min-height: 300px;*/
    padding: 20px 20px 20px 20px;

    border: 0px;
    margin: 0px;
    margin-bottom: 0px;
}

.view-title {
    margin-top: 30px;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.view-title h3 {
    font-family: Futura;
    font-size: 30px;
}

.view-subtitle {
    font-family: Futura;
    border-bottom: 1px solid #ed7d31;
    margin-top: 0px;
    margin-bottom: 10px;
}

.view-subsubtitle {
    font-family: Futura;
    border-bottom: 1px dashed #ed7d31;
    margin-top: 10px;
}

.view-subtitle-related {
    font-family: Futura;
    font-weight: bold;
    font-size: 20px;
    margin-top: 0px;
    border-bottom: 1px solid #39a0ea;
}

.logo-display p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    color: red;
}

.logo-display img {
    border: 1px dashed #808080;
    max-height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ****************************************************************************
* PREVIEW
**************************************************************************** */

.preview-title {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}
.preview-title h3 {
    font-family: Futura;
    font-size: 30px;
}

.preview-desc {
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    padding: 0px 0px;
    margin-bottom: 0px;
}
.preview-desc p {
    color: #ed7d31;
    /*color: #39a0ea;    */
}


.preview-imgs {
    margin-top: 50px;
}

/* dont show link outside images on larger screens */
@media only screen 
and (min-width : 700px) {
    .preview-imgs a { display: block; }
}
.preview-imgs a {
    margin-left: auto;
    margin-right: auto;
    height: 0;
}

.preview-imgs img {
    margin-top: 10px;
    border-radius: 100px;
    border: 0px;
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    transition-property: box-shadow;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.preview-imgs img:hover, .preview-imgs img:focus {
    box-shadow: 0 0 0px 7px #46C7F4;
}


/* ****************************************************************************
* Instances: index
**************************************************************************** */

.instances-logo {
    max-width: 200px;
}